
<div class="container">
    <div ><h1 class="head"> About Me</h1> </div>
    <div class="row">
        <div class="col-6">
            <div class="row">
            <div class="col-sm-6">
            <div class="card">
                <span class="txt"> 1,500 </span> <br> <span class="dt"> Happy Clients</span>
            </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                   <span class="txt"> 100</span> <br>  <span class="dt"> Projects Done</span>
                </div>
            </div>
            </div>
            <div class="row" style="padding-top:3%">
            <div class="col-sm-6">
                <div class="card">
                   <span class="txt"> 500</span> <br> <span class="dt"> Cups of Coffee</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                   <span class="txt"> 1,600</span> <br> <span class="dt"> Hours Achieved</span>
                </div>
            </div>
        </div>
        </div>
        
    <div class="col-6">

        <div class="row">
            <div class="col-12">
              <span class="about-txt">ABOUT ME</span>
               <div><h2  class="about1-txt">A Full-Stack Developer based in Dublin, Ireland.</h2></div>
            </div>
            <div class="col-12 para">
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
            </div>
            <div class="col-2 label">Name:</div><div class="col-4 data"> Maaz</div>
            <div class="col-2 label">Address:</div><div class="col-4 data"> 52 Patrick Street Dublin</div>
            <div class="col-2 label">Eircode:</div><div class="col-4 data"> D08T9E4</div>
            <div class="col-2 label">Email:</div><div class="col-4 data"> mhasan@tcd.ie</div>
            <div class="col-2 label">Phone:</div><div class="col-4 data"> +353-8338-15151</div>
            <div class="col-2 label">Date of Birth:</div><div class="col-4 data"> 05/09/1995</div>
           <div class="col-3"> <a href="" class="btn cd1button">
                <span class="txt-btn">Download CV</span>
            </a></div>
        </div>

        
    </div>
 
    </div>
    <div class="head"> <span class="about-txt">SKILLS</span><h1> Tech Skills</h1> </div>
    <div class="row">
    <div class="col-4">
      <h3 class="lbl-progress">Javascript</h3>
        <div class="progress">
            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
          </div>
    </div>
    <div class="col-4"> 
        <h3 class="lbl-progress">Angular 10+</h3>
        <div class="progress">
            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
          </div>
    </div>
    <div class="col-4">
        <h3 class="lbl-progress">Bootstrap</h3>
        <div class="progress">
            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
          </div>
    </div>
   </div>
   <div class="row">
    <div class="col-4">
        <h3 class="lbl-progress">CSS</h3>
          <div class="progress">
              <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
      </div>
      <div class="col-4"> 
          <h3 class="lbl-progress">.Net MVC</h3>
          <div class="progress">
              <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
      </div>
      <div class="col-4">
          <h3 class="lbl-progress"> C Sharp</h3>
          <div class="progress">
              <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
   </div>
   <div class="row">
    <div class="col-4">
        <h3 class="lbl-progress">Python</h3>
          <div class="progress">
              <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
      </div>
      <div class="col-4"> 
          <h3 class="lbl-progress">Node JS</h3>
          <div class="progress">
              <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
      </div>
      <div class="col-4">
          <h3 class="lbl-progress">AWS</h3>
          <div class="progress">
              <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
   </div>
</div>