
<div class="container">
    <div ><h1 class="head"> About Me</h1> </div>
    <div class="row">
        <div class="col-6">
            <div class="row">
            <div class="col-sm-6">
            <div class="card">
                <span class="txt" id="value1"></span> <br> <span class="dt"> Happy Clients</span>
            </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                   <span class="txt" id="value2"></span> <br>  <span class="dt"> Projects Done</span>
                </div>
            </div>
            </div>
            <div class="row" style="padding-top:3%">
            <div class="col-sm-6">
                <div class="card">
                   <span class="txt" id="value3"></span> <br> <span class="dt"> Cups of Coffee</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                   <span class="txt" id="value4"></span> <br> <span class="dt"> Hours Achieved</span>
                </div>
            </div>
        </div>
        </div>
        
    <div class="col-6">

        <div class="row">
            <div class="col-12">
              <span class="about-txt">ABOUT ME</span>
               <div><h2  class="about1-txt">A Full-Stack Developer based in Dublin, Ireland.</h2></div>
            </div>
            <div class="col-12 para">
                I’m a graduate from National College of Ireland with an interest in Web Application Development. I have been working with web development since 2016. I am a self-motivated and self-taught professional who likes to solve complex problems. My repertoire includes programming languages and tools such as Angular 8+, ReactJS, NodeJS, Java, TypeScript, ASP.Net, C#, Python, MySQL, PostgreSQL, jQuery, AJAX and more. I'm not confined to these areas, I am always looking to learn something new and challenging. When I’m not on the job, I love to go for bike-rides, travel and explore serenity of nature. 
            </div>
           <div class="col-3"> <a href="https://drive.google.com/file/d/1fphwTfG_jQHrNly6KjswHwfR4Ib3Wy0U/view?usp=sharing" target="_blank" class="btn cd1button box-btn">
                <span class="txt-btn">Download CV</span>
            </a></div>
        </div>

        
    </div>
 
    </div>
    <div class="head"> <span class="about-txt">SKILLS</span><h1 class="head1"> Tech Skills</h1> </div>
    <div class="row">
     <div class="col-4">
      <h3 class="lbl-progress">Javascript</h3>
        <div class="progress">
            <div class="progress-bar" role="progressbar"  style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
     </div>
     <div class="col-4"> 
        <h3 class="lbl-progress">Angular 10+</h3>
        <div class="progress">
            <div class="progress-bar" role="progressbar"  style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
     </div>
     <div class="col-4">
        <h3 class="lbl-progress">Bootstrap</h3>
        <div class="progress">
            <div class="progress-bar" role="progressbar"  style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
     </div>
   
   
     <div class="col-4">
        <h3 class="lbl-progress">TypeScript</h3>
          <div class="progress">
              <div class="progress-bar" role="progressbar"  style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
      </div>
      <div class="col-4"> 
          <h3 class="lbl-progress">ASP.Net MVC</h3>
          <div class="progress">
              <div class="progress-bar" role="progressbar"  style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
      </div>
      <div class="col-4">
          <h3 class="lbl-progress"> C Sharp</h3>
          <div class="progress">
              <div class="progress-bar" role="progressbar"  style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            </div>
   
     <div class="col-4">
        <h3 class="lbl-progress">Python</h3>
          <div class="progress">
              <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
      </div>
      <div class="col-4"> 
          <h3 class="lbl-progress">Node JS</h3>
          <div class="progress">
              <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
      </div>
      <div class="col-4">
          <h3 class="lbl-progress">AWS Cloud</h3>
          <div class="progress">
              <div class="progress-bar" role="progressbar"  style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
   </div>
   
</div>