<div class="container">
    <div ><h1 class="head">My Experience</h1> </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <img src="../../assets/graduated.png" alt="...">
                <div class="col-3 year">Jan 2019-Jun 2020</div>
                <h2 class="card-title"> Masters in CyberSecurity</h2>
               <span class="place"> National College of Ireland</span>
              <div class="md-4"> <ul>
                  <li>
                    Used kali Linux tools John the ripper,THC Hydra, Matlego Teeth, Aircrack-ng  for information gathering and vulnerability analysis on a given network. These help in analysing the exploits for wireless attacks using OWASP testing guidelines and NIST 800-115.
                  </li>
                  <li>
                    Carried out a MAC flooding  and DNS spoofing DDOS attack on a virtual network based on VulnHub and HacktheBox platform.
                  </li>
                  <li> Built a Web Application with the ability to defend it against Cross-Site Request Forgery, XSS attack and SQL injection attacks. Used Java framework to build the backend of the application with its front-end written in TypeScript. </li>
                  <li>Applied concepts of Input Validation, Buffer Overflow, OS Exploit Mitigation and Threat Modelling in a Web Application hosted on AWS platform. </li>
                  <li> Analysed Malwares potentially a Rootkit, Spyware and Ransomware such PZchao by setting up a secure Malware Analysis environment  i.e Sandbox. </li>

              </ul></div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <img src="../../assets/computer.png" alt="...">
                <div class="col-3 year">Aug 2018-Jan 2019</div>
                <h2 class="card-title"> Full-Stack Developer/ Contract</h2>
               <span class="place">Learnovate Centre Dublin</span>
               <div class="md-4"> <ul>
                <li>
                    Worked on Develop, an EU funded Horizon 2020 project that is an adaptive learning
                    environment that dynamically tailors the planning of learning opportunities in medium and
                    large companies.
                </li>
                <li>
                    Developed server-side application based on ASP.NET MVC 5 using C# which consumes and integrates different web APIs and stores real time analytics into NoSQL database based on Entity framework EF 6 database and built RESTful APIs.
                </li>
                <li> Extensively used Angular 8 using TypeScript, Ruby on Rails, Atom Typescript HTML 5, CSS for development of front end application for various projects.</li>
                <li>Performed end-to-end automated-testing and web-scrapping using Selenium
                    Web Driver 2.0 for extracting and storing information obtained from different
                    websites. Wrote unit tests and API tests using Karma, Jasmine and NUnit </li>
                <li>  Worked on Google Analytics and Google Tag Manager for obtaining behavior
                    of users and events information on web applications. </li>
                    <li> Used Docker, Jenkins and Git in compliance with Scrum Development.</li>

            </ul></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <img src="../../assets/graduated.png" alt="...">
                <div class="col-3 year">Sept 2017-Dec 2018</div>
                <h2 class="card-title"> PG Cert. in Intelligent Systems/AI</h2>
               <span class="place"> Trinity College Dublin</span>
               <div class="md-4"> <ul>
                <li>
                    Developed a Website as a decision-support tool for Dublin city managers and service providers to optimise mobility service delivery for DublinBikes using Extreme Programming. Used ReactJS for GUI Front-End and Amazon AWS Elastic Search with Cassandra Database for Back-End and Certificate based login using SpringBoot. Also responsible for testing the code using Selenium and JUnit Testing.
                </li>
                <li>
                    Developed an Adaptive MVP travel application, which recommends the user, hotels, cuisines and activities based on a self formulated user model. Used Bootstrap, JQuery and Custom CSS to build the Front-End and Django with PostgreSQL to build the back-end and database respectively.
                </li>
                <li> Developed a Document Search Engine using Apache Lucene used on a collection of 1400 Cranfield documents for the module "Information Retrieval and Web Search".</li>
                <li>Applied concepts of Input Validation, Buffer Overflow, OS Exploit Mitigation and Threat Modelling in a Web Application hosted on AWS platform. </li>
                <li>  Used Natural Language Processing and Text Analytics for co-authoring research paper on Rating Prediction based on Yelp's User Reviews. </li>

            </ul></div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <img src="../../assets/computer.png" alt="...">
                <div class="col-3 year">Jun 2016-Sept 2016</div>
                <h2 class="card-title"> Student Research Intern</h2>
               <span class="place"> University of Malta</span>
               <div class="md-4"> <ul>
                <li>
                    Developed a Full Stack Web Application for Electronic Medical Recording for Surgical Ward at
                    Mater Dei Hospital, Malta. Used ReactJS for building Front-end of the application with optimised service layers and
                    request queues using MongoDb. Implemented API and AJAX calls from React libraries.  Used Gitlab for version control.
                </li>
                <li> This EMR helps in maintaining the record and increases record maintenance Efficiency by
                    50%. </li>
               <li>Data Logging feature used essentially helped in backtracking any privacy breaches.</li>

            </ul></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <img src="../../assets/graduated.png" alt="...">
                <div class="col-3 year">Jun 2013-Jun 2017</div>
                <h2 class="card-title">Bachelor of Technology in Computer Science Engg.</h2>
               <span class="place">Amity University</span>
               <div class="md-4"> <ul>
                <li>
                    Developed an Android Application in collaboration the Faculty of Medicine at
University of Malta for the Final Year Dissertation project that enables the patient
to mark exact places in the body with the intensity of pain and keep weekly
track of same. Every patient's data can be examined by the doctor anytime
which helps them to precisely understand patient's condition remotely. Used
Java on Android Studio for development with Scrum.
                </li>
                <li> Worked as a Student Researcher for Cyborg Cyber Forensics and Information Security (CCFIS) for developing Social Media Intelligence Platform by fetching JSON responses from Twitter API to categorise tweet as good or bad.</li>
               

            </ul></div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <img src="../../assets/computer.png" alt="...">
                <div class="col-3 year">May 2016-Aug 2016</div>
                <h2 class="card-title"> Trainee Intern</h2>
               <span class="place">Ascent Software Ltd. Malta</span>
               <div class="md-4"> <ul>
                <li>
                    Worked on Reverse Engineering Websites written in Javascript and CSS lost by the client.
                </li>
                <li> Improved legacy Front-end by replacing it with AngularJS, Tomcat API and Java. </li>
               <li> Built CI/CD pipelines using Jenkins, Kubernetes and custom scripts.</li>
               <li>Refactored the Web App to incorporate security with micro service with Java and AWS
                Cognito.</li>

            </ul></div>
              
            </div>
        </div>
    </div>
    <div class="row">
        <!-- <div class="col-6">
            <div class="card">
                <img src="../../assets/graduated.png" alt="...">
                <div class="col-3 year">2019-2020</div>
                <h2 class="card-title"> Masters in CyberSecuirty</h2>
               <span class="place"> National College of Ireland</span>
              <p class="md-4">  A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
        </div> -->
        <!-- <div class="col-6">
            <div class="card">
                <img src="../../assets/computer.png" alt="...">
                <div class="col-3 year">May 2016- Aug 2016</div>
                <h2 class="card-title">Trainee Intern</h2>
               <span class="place"> Ascent Software Ltd. Malta </span>
               <div class="md-4"> <ul>
                <li>
                    Worked on Reverse Engineering Websites written in Javascript and CSS lost by the client.
                </li>
                <li> Improved legacy Front-end by replacing it with AngularJS, Tomcat API and Java. </li>
               <li> Built CI/CD pipelines using Jenkins, Kubernetes and custom scripts.</li>
               <li>Refactored the Web App to incorporate security with micro service with Java and AWS
                Cognito.</li>

            </ul></div>
            </div>
        </div> -->
    </div>
</div>