<div class="container">
    <div ><h1 class="head">My Experience</h1> </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <img src="../../assets/graduated.png" alt="...">
                <div class="col-3 year">2019-2020</div>
                <h2 class="card-title"> Masters in CyberSecuirty</h2>
               <span class="place"> National College of Ireland</span>
              <div class="md-4"> <ul>
                  <li>
                    Worked on Develop, an EU funded Horizon 2020 project that is an adaptive learning
                    environment that dynamically tailors the planning of learning opportunities in medium and
                    large companies.
                  </li>
                  <li>
                    Created HTTP RESTful web API endpoints.
                  </li>
                  <li>Developed a web client to consume the API using AngularJS 2/Typescript/Bootstrap.</li>
                  <li>Added server push notifications using websockets protocol.</li>

              </ul></div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <img src="../../assets/computer.png" alt="...">
                <div class="col-3 year">2019-2020</div>
                <h2 class="card-title"> Masters in CyberSecuirty</h2>
               <span class="place"> National College of Ireland</span>
              <p class="md-4">  A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <img src="../../assets/graduated.png" alt="...">
                <div class="col-3 year">2019-2020</div>
                <h2 class="card-title"> Masters in CyberSecuirty</h2>
               <span class="place"> National College of Ireland</span>
              <p class="md-4">  A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <img src="../../assets/computer.png" alt="...">
                <div class="col-3 year">2019-2020</div>
                <h2 class="card-title"> Masters in CyberSecuirty</h2>
               <span class="place"> National College of Ireland</span>
              <p class="md-4">  A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <img src="../../assets/graduated.png" alt="...">
                <div class="col-3 year">2019-2020</div>
                <h2 class="card-title"> Masters in CyberSecuirty</h2>
               <span class="place"> National College of Ireland</span>
              <p class="md-4">  A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <img src="../../assets/computer.png" alt="...">
                <div class="col-3 year">2019-2020</div>
                <h2 class="card-title"> Masters in CyberSecuirty</h2>
               <span class="place"> National College of Ireland</span>
              <p class="md-4">  A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <img src="../../assets/graduated.png" alt="...">
                <div class="col-3 year">2019-2020</div>
                <h2 class="card-title"> Masters in CyberSecuirty</h2>
               <span class="place"> National College of Ireland</span>
              <p class="md-4">  A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <img src="../../assets/computer.png" alt="...">
                <div class="col-3 year">2019-2020</div>
                <h2 class="card-title"> Masters in CyberSecuirty</h2>
               <span class="place"> National College of Ireland</span>
              <p class="md-4">  A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
        </div>
    </div>
</div>