<div class="container">
  <div ><h1 class="head">Contact Us</h1> </div>
  <div class="card">
  <div class="col-6">
    <div class="row">
            <h3 class="head1">Contact Us</h3>
           <p class="mb-4"> We're open for any suggestion or just to have a chat.</p>
    </div>
    <div class="row">
        <div class="col-4">
            <h4 class="bd-head">ADDRESS:</h4>
          <p class="mb-4"> 5 Cathderal House, 52 Patrick Street Dublin D08T9E4 </p>
        </div>
        <div class="col-4">
            <h4 class="bd-head">EMAIL:</h4>
           <span class="mb-4"> mhasan@tcd.ie</span>
        </div>
        <div class="col-4">
            <h4 class="bd-head">PHONE:</h4>
            <span class="mb-4">+353-833815151</span>
        </div>
    </div>
    <form class="contact" [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <input type="name"  [formControl]="name" required class="form-control" id="name" aria-describedby="name" placeholder="Name">
        </div>
        <div class="mb-3">
            <input type="email"  [formControl]="email" placeholder="email@example.com" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
          </div>
          <div class="mb-3">
            <input type="subject" class="form-control" id="subject" aria-describedby="subject" placeholder="Subject">
          </div>
          <div class="mb-3">
            <textarea [formControl]="message" maxlength="256" placeholder="I'm interested in..." required
            type="message" class="form-control" id="subject" placeholder="Your Message"></textarea>
          </div>
        <div class="box-btn mb-3">
          <button href="" class="btn cd1button submit" [disabled]="isLoading" type="submit">
              <span class="txt-btn">Submit</span>
          </button>
          </div>
          <input [formControl]="honeypot" class="hidden" type="text" />
          <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
            <span class="mb-4">{{responseMessage}}</span>
          </div>
      </form>
     <div class="row"> 
      <div class=" col-12 scm-title">Contact Us</div>
      <div class="col-3"> <a href="https://github.com/mhasan95"><i class="fa fa-github" style="font-size:36px"></i></a></div>
      <div class="col-3"><a href="https://www.facebook.com/maaz.hasan.79/"><i class="fa fa-facebook-f" style="font-size:36px"></i></a></div>
      <div class="col-3"> <a href="https://twitter.com/hasanmaaz"> <i class="fa fa-twitter" style="font-size:36px"></i></a></div>
      <div class="col-3"><a href="https://www.pinterest.ie/hasanmaaz/_saved/"><i class="fa fa-pinterest" style="font-size:36px"></i></a></div>
      </div>
  </div>
   <div id="map"></div>
  </div>
</div>
<!-- <script>
    function initMap() {
     // The location of Uluru
     const uluru = { lat: 53.33982, lng: -6.27141 };
     // The map, centered at Uluru
     const map = new google.maps.Map(document.getElementById("map"), {
       zoom: 15,
       center: uluru,
     });
     // The marker, positioned at Uluru
     const marker = new google.maps.Marker({
       position: uluru,
       map: map,
     });
   }</script> -->
