<div class="container-fluid">
<div class="row" style="height:inherit">
    <div class="col-lg-6">
      <div class="center">  
        <div class="row">
          <div class="col-12">
            <div >FULL-STACK DEVELOPER & DESIGNER</div>
          </div>
          <div class="col-12">
             Hello, I am Maaz.
          </div>
          <div class="col-4">
             <a href="" class="btn cd1button">
            <span class="txt-btn">More About Me</span>
        </a>
          </div>
          <!-- <div class="col-4">
            Hello, I am Maaz.
          </div> -->
        </div>
     
        
      
        <!-- <h1 class="mb-4"> Hello, I am Maaz.</h1>
        <div class="bt-group">
         <div class="col-3"> <a href="" class="btn cd1button">
            <span class="txt-btn">More About Me</span>
        </a></div>
        <div class="col-3">
        <a href="" class="btn cd2button">
         <span class="txt-btn1">Hire Me</span>
        </a> </div> 
       </div> -->
      </div>
     
    </div>
    
    <div class="col-lg-6 bg">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item"data-bs-interval="2000">
                <img src="../../assets/mz.1.jpg" class="d-block w-100 " alt="...">
              </div>
              <div class="carousel-item active"data-bs-interval="2000">
                <img src="../../assets/mz.1.jpg" class="d-block w-100" alt="...">
              </div>
              
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
          </div>
    </div>
    </div>
</div>