<div class="container-fluid">
<div class="row" style="height:inherit">
    <div class="col-lg-6">
     
      <div class="center">  
        
         <div id="content">
          <div class="txt" >FULL-STACK DEVELOPER & UI/UX DESIGNER</div>
         
          <div><h1 class="mb-4"> I'm Maaz Hasan.</h1></div>


           <div class="box-btn">
            <a href="" class="btn cd1button"  routerLink="about">
                <span class="txt-btn">MORE ABOUT ME</span>
            </a>
            
            </div>
             <div><a class="btn cd2button box-btn1" routerLink="contact">
              <span class="txt-btn1">HIRE ME</span>
             </a></div>
         </div>
           
      </div>
     
    </div>
    
    <div class="col-lg-6 bg">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item"data-bs-interval="2000">
                <img src="../../assets/thanos.jpg" class="d-block w-100 " alt="...">
              </div>
              <div class="carousel-item active" data-bs-interval="2000">
                <img style="height: 88vh;width:50vw"  src="../../assets/maaz3.jpg" class="d-block" alt="...">
              </div>
              
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
          </div>
    </div>
    </div>
</div>