.cd1button{
  background: rgb(213, 196, 85);
  border-radius: 0;
  width: 185.4px;
  height: 53px;
  margin: 0 auto;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
}
#container2 {
  color: white;
  background: #ffbd17;
  width: 400px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
 
  flex: 0 0 27vw;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86vh;
}
.container-fluid{
  height: 86vh;
}
.txt-btn{
  color: rgb(255, 255, 255);
  font-family: 'poppins';
  font-size: 12px;
  font-weight: 700;
}
.txt-btn1{
  color: rgb(0, 0, 0);
  font-family: 'poppins';
  font-size: 12px;
  font-weight: 700;
}

.cd2button{
  background: rgb(255, 255, 255);
  height: 52px;
  width: 154px;
  border-radius: 0;
  border: 1px solid #fff!important;
  margin: 0 auto;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
}

.txt{
    color: rgb(213, 196, 85);
    margin-top: 10%;
    font-family: 'poppins';
    font-size: 16px;
    font-weight: 700;
}


  .mb-4{
      
    font-family: 'poppins';
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
  }
  .bg{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #fff;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
  }
  img {
   height: 517px;
   width: 400px;
  }